<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

	<form method="post">{% csrf_token %}
		<input type="file" id="file_upload">
	</form>

	<h1>Your download link appear here: </h1>
	<a id="downloadLink"></a>

</body>
<script src="{% static 'dist/tus.js' %}"></script>
<script>

	document.getElementById('file_upload').addEventListener("change", function (e) {
		var file = e.target.files[0];
		console.log(file.name);

		var downloadLink = document.getElementById('downloadLink');

		var upload = new tus.Upload(file, {
			//endpoint: "http://localhost:8000/upload/",
			endpoint: "http://localhost:1080/files/",
			retryDelays: [0, 1000, 3000, 5000],
			metadata: {
				filename: file.name,
				filetype: file.type
			},

			onError: function (error) {
				console.log('Failed because: ' + error)
			},

			onProgress: function(bytesUploaded, bytesTotal) {
            var percentage = (bytesUploaded / bytesTotal * 100).toFixed(2);
            console.log(bytesUploaded, bytesTotal, percentage + "%")
			},

			onSuccess: function() {
						downloadLink.href = upload.url;
						downloadLink.innerHTML = upload.file.name;
            console.log("Download %s from %s", upload.file.name, upload.url)

        }


		});

		upload.start()
	});
</script>
</html>